#app-reviews {
  margin-top: 30px;
}

#menu {
 margin-top: 100px;
 margin-left: 220px;
}

#reservation {
    width: 350px;
    position:fixed;
    margin-top: 166px;
    margin-right: 100px;
    top:0;
    right:0;
}

.image_1swebtw-o_O-imageLoaded_zgbg08 {
  height: 350px;
  width: 600px;
}